body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 45rem;
    border-collapse: collapse;
    margin: auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    user-select: none;
}

th {
    background-color: #f2f2f2;
    cursor: pointer;
}

.form-one {
    margin: auto;
    width: 25rem;
}
.header-one {
     margin: auto auto 30px auto;
     width: 30rem;
}
.sort-icon {
    display: none; /* Скрываем значки сортировки по умолчанию */
}